{erl_opts, [debug_info, warnings_as_errors]}.

{deps, [
    {cowboy, "2.12.0"},
    {evoq, "1.12.0"},
    {esqlite, "0.8.8"},
    {hecate_sdk, "0.6.1"}
]}.

{relx, [
    {release, {hecate_app_snake_dueld, "0.3.0"}, [
        %% Root app — MUST start before domain apps
        hecate_app_snake_dueld,

        %% Domain apps
        run_snake_duel,
        query_snake_duel,

        sasl
    ]},
    {mode, dev},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true}
]}.

{profiles, [
    {prod, [{relx, [{mode, prod}, {dev_mode, false}, {include_erts, true}]}]},
    {test, [{deps, [{meck, "0.9.2"}]}]}
]}.

{project_plugins, [rebar3_ex_doc]}.
{ex_doc, [
    {source_url, <<"https://github.com/hecate-apps/hecate-app-snake-duel">>},
    {extras, [<<"README.md">>]},
    {main, <<"README.md">>}
]}.
{hex, [{doc, ex_doc}]}.

{dialyzer, [
    {warnings, [error_handling]},
    {plt_extra_apps, [cowboy, cowlib, ranch, esqlite, hecate_sdk]},
    {exclude_apps, [reckon_db, reckon_gater, khepri, ra, horus, aten, seshat, gen_batch_server]}
]}.
